{% extends "base.html" %}


{% block nav-home %}
<li role="presentation">
	<a href="/" class="btn btn-link" role="button">Home</a>
</li>
{% endblock %}


{% block content %}
<div class="col-sm-12">

	<dir class="row">
		<div class="col-sm-12 text-center">
			<h3>Fishing Home</h3>
		</div>
	</dir>
	<div class="row">
		<dir class="col-sm-6">
			<div class="col-sm-12 text-center">
				<h3>About</h3>
			</div>
			Lorem ipsum dolor sit amet, nibh integre pericula cum an. Probo facilisis vix eu, hinc iudicabit pro no. No labores persecuti constituto sea. Scaevola reprehendunt no nam, eu mea minimum lucilius. Maiorum adolescens nam ea, vivendo legendos sit te, te utinam lucilius eum. Vis nonumy phaedrum definiebas ut, cu libris corpora mea. Ne munere nusquam eum, nec nonumes feugait suavitate ex.
		</dir>
		<dir class="col-sm-6">
			<div class="col-sm-12 text-center">
				<h3>Contacts</h3>
			</div>
			CONTACTS GO HERE
		</dir>

	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<h3>Boating CALENDAR</h3>
			<div class="col-sm-12" id="calendar_container" >
				<div id='calendar'></div>
			</div>
		</div>
	</div>

</div>
{% endblock %}


