{% extends "base.html" %}

{% block content %}


<div class="col-sm-12">

<div class="row">
  <dir class="col-sm-12">
    <div class="col-sm-12 text-center">
      <h3>Message from the President</h3>
    </div>
      <p>
        {{ page_content.presidents_word }}
      <p>
    </dir>
  </div>
  <div class="row">
  <dir class="col-sm-12">
    <div class="col-sm-12 text-center">
      <h3>About</h3>
    </div>
      <p>
        {{ page_content.about}}
      </p>
    </dir>
  </div>
  <div class="row">
    <dir class="col-sm-6">
      <div class="col-sm-12 text-center">
        <h3>Facilities</h3>
      </div>
      <p>
        {{ page_content.facilities}}
      </p>
    </dir>
    <dir class="col-sm-6">
      <div class="col-sm-12 text-center">
        <h3>General</h3>
      </div>
      <p>
        {{ page_content.general }}
      </p>
    </dir>
  </div>

</div>

{% endblock %}
