{% extends "base.html" %}

{% block head %}
<script type="text/javascript">


$.ajax({
    url: '/ranges/home/rso/calender/data/',
    // dataType: "json",
    success: function(data) {

      calendar_object_array = []

      for (i in data){
      	calendar_object_array.push(
      	{
      		title: "RSO: " + data[i].rso_person_first + 
      		" " + data[i].rso_person_last ,
      		start: data[i].rso_start_date,
      		end: data[i].rso_end_date,
      		description: new Date(data[i].rso_start_date)+ "-" + new Date(data[i].rso_end_date).getHours(),
      	}
      	)
      }
      $('#rso_calendar').fullCalendar({
			defaultDate: new Date(),
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: calendar_object_array,
			eventMouseover: function (data, event, view) {
              tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#feb811;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%;">' +  data.title + '</br>' + "Start: " + new Date(data.start) +  '</br>' + "End: " + new Date(data.end) + '</div>';


            $("body").append(tooltip);
            $(this).mouseover(function (e) {
                $(this).css('z-index', 10000);
                $('.tooltiptopicevent').fadeIn('500');
                $('.tooltiptopicevent').fadeTo('10', 1.9);
            }).mousemove(function (e) {
                $('.tooltiptopicevent').css('top', e.pageY + 10);
                $('.tooltiptopicevent').css('left', e.pageX + 20);
            });


        },
        eventMouseout: function (data, event, view) {
            $(this).css('z-index', 8);

          $('.tooltiptopicevent').remove();
      },
		});

      // alert(data)
    }
 });

</script>

{% endblock %}
{{ latest_event_list }}

{% block nav-home %}
<li role="presentation">
	<a href="/" class="btn btn-link" role="button">Home</a>
</li>
{% endblock %}


{% block content %}
<div class="col-sm-12">

	<dir class="row">
		<div class="col-sm-12 text-center">
			<h3>Ranges Home</h3>
		</div>
	</dir>
	<div class="row">
		<dir class="col-sm-6">
			<div class="col-sm-12 text-center">
				<h3>About</h3>
			</div>
			The shooting and archery facilities, which are located at the Lockheed Martin Astronautics Waterton Plant, consists of a trap and skeet range, an enclosed 25 and 50 yard Multi Function Facility range, a 100 and 200/300 yard rifle range with concrete shooting benches under a covered area. The archery range consists of a 28 target field course as well as practice targets. The range is open for use to club members, immediate family and guests almost every day of the year with a few exceptions such as the LMA open house.
		</dir>
		<dir class="col-sm-6">
			<div class="col-sm-12 text-center">
				<h3>Contacts</h3>
			</div>
			CONTACTS GO HERE
		</dir>

	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<h3>RSO CALENDAR</h3>
			<div class="col-sm-12" id="calendar_container" >
				<div id='rso_calendar'></div>
			</div>
		</div>
	</div>

</div>
{% endblock %}


